{% extends "layout.html" %}
{% load i18n %}
{% load staticfiles %}

{% block sidebar %}
    {% include "sidebar.html" %}
{% endblock %}

{% block content %}
	<div class="row">
		<form id="syslog_form" class="form-horizontal bootstrap-validator-form" action="/repository/syslog/edit/{% if object_id %}{{object_id}}{% endif %}" method="post" novalidate="novalidate">
			{% csrf_token %}
			<div class="x_panel">
	          <div class="x_title">
	            <h2><i class="fa fa-database"></i>&nbsp;{% trans "Syslog -> Edit" %} {% if form.instance.repo_name %}({{ form.instance.repo_name }}) {% endif %}</h2>
	            <ul class="nav navbar-right panel_toolbox">
	            	<li><a href="/repository/syslog/"><button class="btn-cancel" type="button">{% trans "CANCEL"  %}</button></a></li>
	                <li><button id="save" class="btn-save" type="submit" {% if not object_id %}disabled style="display:none;"{% endif %}>{% trans "SAVE" %}</button></li>
	            </ul>
	            <div class="clearfix"></div>
	          </div>
	          <div class="x_content">
	            <div class="" role="tabpanel" data-example-id="togglable-tabs">
	              <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
	                <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">{% trans "Connection settings" %}</a>
	                </li>
	              </ul>
	              <div id="myTabContent" class="tab-content">
	                <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab"> 
                        <div class="form-group">
                            <label class="col-sm-4 control-label">{{ form.repo_name.label }}</label>
                            <div class="col-sm-5">
                                {{form.repo_name}}
                                {{form.repo_name.errors}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">{{ form.syslog_host.label }}</label>
                            <div class="col-sm-5">
                                {{form.syslog_host}}
                                {{form.syslog_host.errors}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">{{ form.syslog_port.label }}</label>
                            <div class="col-sm-5">
                                {{form.syslog_port}}
                                {{form.syslog_port.errors}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">{{ form.syslog_protocol.label }}</label>
                            <div class="col-sm-5">
                                {{form.syslog_protocol}}
                                {{form.syslog_protocol.errors}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">{{ form.syslog_facility.label }}</label>
                            <div class="col-sm-5">
                                {{form.syslog_facility}}
                                {{form.syslog_facility.errors}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">{{ form.syslog_security.label }}</label>
                            <div class="col-sm-5">
                                {{form.syslog_security}}
                                {{form.syslog_security.errors}}
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12" style="text-align:center;">
                                <button id="connection_test" class="btn-test"><span>{% trans "Test Syslog connection (required for saving)" %}</span></button>
                            </div>
                        </div>
	                </div>
	              </div>
	            </div>
	          </div>
	        </div>
	    </form>
	</div>

    <div id="modal_test_connection" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{% trans "Connection test result" %}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p id="connection_test_msg"></p>
                        </div>
                    </div>
                    <br />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block css_include %}

{% endblock %}

{% block js_include %}

{% endblock %}

{% block jquery_code  %}

    /* Syslog connection test */
    $('#connection_test').on("click", function(e){
        e.preventDefault()
        url = "/repository/syslog/connection_test/";
        form_data = $('#syslog_form').serializeArray();
        var indexed_data = {};
        $.map(form_data, function(n, i){
            indexed_data[n['name']] = n['value'];
        });
        $.post(url, indexed_data, function(data){
            $("#modal_test_connection").modal('show');
            status = data['status'];
            handle_form_errors(data);
            if(status == 'true'){
                $('#connection_test_msg').html('<b>{% trans "Successful connection" %}</b>');
                $(".btn-save").removeAttr('disabled');
                $(".btn-save").removeAttr('style');
            }
            else{
                reason = data['reason'];
                $('#connection_test_msg').html("<b>{% trans 'Unable to connect to Syslog server, reason: '%}" + reason + "</b>");
            }
        });
    });

    $("[id^='id_db']").on("change", function(e){
        $('#connection_test_msg').html("");
    })


    /*User search test*/
    $('#user_search_test').on("click", function(e){
        $('#user_search_test_msg').html('');
        $("#modal_test_user_search").modal('show');
        e.preventDefault()
    });

    $("[id^='id_db']").on("change", function(e){
        $('#user_search_test_msg').html("");
    })

    $('#btn_send_user_search').on("click", function(e){
        username = $('#test_username').val();
        password = $('#test_password').val();
        url = "/repository/syslog/user_search_test/";
        form_data = $('#syslog_form').serializeArray();
        var indexed_data = {};
        $.map(form_data, function(n, i){
            indexed_data[n['name']] = n['value'];
        });
        indexed_data['username'] = username;
        indexed_data['password'] = password;
        $.post(url, indexed_data, function(data){
            status = data['status'];
            handle_form_errors(data);
            if(status == 'true'){
                $('#user_search_test_msg').html('<b style="color:green;">{% trans "Successful connection" %}</b>');
            }
            else{
                reason = data['reason'];
                $('#user_search_test_msg').html("<b style='color:red;'>{% trans 'Unable to authenticate user, reason: '%}" + reason + "</b>");
            }
            $('#user_phone').html('{% trans "Phone number" %}: '+ data['user_phone']);
            $('#user_email').html('{% trans "Email address" %}: '+ data['user_email']);
            $('#account_locked').html('{% trans "Account locked" %}: '+ data['account_locked']);
            $('#password_expired').html('{% trans "Need change pass" %}: '+ data['password_expired']);
        });
    });
    $("#id_oauth2_attributes").tagEditor({
        initialTags: [{{application.get_methods|safe}}],
        delimiter: ',',
        forceLowercase: false,
        placeholder: 'Enter the Oauth2 columns',
    });

    $("#id_enable_oauth2").bind("change", toggleAuth);
    function toggleAuth() {
        var auth=$(this);
        if (auth.prop('checked')) {
            $(".attr_oauth").css("visibility", "visible");
        }
        else {
            $(".attr_oauth").css("visibility", "hidden");
        }
    }
    $("#id_enable_oauth2").trigger("change");


{% endblock %}