{% extends "layout.html" %}
{% load i18n %}
{% load staticfiles %}

{% block sidebar %}
    {% include "sidebar.html" %}
{% endblock %}

{% block content %}
	<div class="row">
		<form class="form-horizontal bootstrap-validator-form" action="/services/ssh/{% if object_id %}{{object_id}}{% endif %}" method="post" novalidate="novalidate">
			{% csrf_token %}
			<div class="x_panel">
        <div class="x_title">
          <h2><i class="fa fa-desktop"></i>&nbsp;{% trans "Vulture Service Settings" %}</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a href="/services/dns/"><button class="btn-cancel" type="button">{% trans "CANCEL"  %}</button></a></li>
            <li><button id="save" class="btn-save" type="submit">{% trans "SAVE" %}</button></li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="" role="tabpanel" data-example-id="togglable-tabs">
            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
              <li role="presentation" class=""><a href="/services/global/">{% trans "Settings panel" %}</a></li>
              <li role="presentation" class=""><a href="/services/dns/">{% trans "DNS" %}</a></li>
              <li role="presentation" class=""><a href="/services/ntp/">{% trans "NTP" %}</a></li>
              <li role="presentation" class=""><a href="/services/smtp/">{% trans "SMTP" %}</a></li>
              <li role="presentation" class="active"><a href="#">{% trans "SSH" %}</a></li>
              <li role="presentation" class=""><a href="/services/ipsec/">{% trans "IPSEC" %}</a></li>
            </ul>
          </div>

          <fieldset class="col-sm-7">
            <legend>{% trans "SSH Settings" %}</legend>
            <div class="form-group">
              <label class="col-sm-4 control-label"> {% trans "Configure SSH Settings of" %} </label>
              <div class="col-sm-5">
                <select id="cluster_select" class="has-popover form-control" style="margin-top:5px;">
                  <option value="" >{% trans "Vulture Cluster" %}</option>
                  {% for node in cluster.members %}
                    <option value="{{ node.id }}">Node {{ node.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-4 control-label"> {% trans "Enable SSH" %}</label>
              <div class="col-sm-5">
                <div class="">
                  <label>
                    {{form.enabled}}
                    {{form.enabled.errors}}
                  </label>
                </div>
                <!--
                <div class="toggle-switch toggle-switch-primary">
                 <label>
                   {# form.enabled #}
                   {# form.enabled.errors #}
                   <div class="toggle-switch-inner"></div>
                   <div class="toggle-switch-switch"><i class="fa fa-check"></i></div>
                 </label>
                </div>
                -->
              </div>
            </div>
          </fieldset>

          <div class="col-sm-5">
            <legend>{% trans "SSH Status" %}</legend>
            <div  class="col-sm-12">
              <p>
                <b>
                  {% for nodename, status in ssh_status.items %}
                    {% if status.0 == 'UP' %}
                      <img src="{% static "img/status_green.png" %}" class="img_responsive" />
                    {% elif status.0 == 'NEED_UPDATE' or status.0 == 'WARNING' %}
                      <img src="{% static "img/status_orange.png" %}" class="img_responsive" />
                    {% else %}
                      <img src="{% static "img/status_red.png" %}" class="img_responsive" />
                    {% endif %}
                    {% trans "SSHD service state is " %}{{ status|join:': ' }}{% trans " on " %}{{ nodename }}
                    <br />
                  {% endfor %}
                </b>
              </p>
            </div>
          </div>
        </div>
      </div>
    </form>
	</div>
	
{% endblock %}

{% block css_include %}

{% endblock %}

{% block js_include %}

{% endblock %}

{% block jquery_code %}

  $('#cluster_select').bind("change", updateFields);
  function updateFields () {
      var id=$(this).val();
      document.location.href= '/services/ssh/' + id;
  }
  /* Select current edited Node */
  {% if object_id %}
      $('#cluster_select option[value={{ object_id }}]').prop('selected', true);
  {% endif %}

  if( "{{ popup }}" != "" ) {
    new PNotify({
      title: '{{ popup.0 }}',
      text: '<a style="color:white; text-decoration: underline; font-weight: bold;">{{ popup.1 | linebreaks }}</a>',
      {% if popup.0 == "UP" or popup.0 == "DOWN" %}type: 'success',{% else %}type: 'error',{% endif %}
      styling: 'bootstrap3',
      width: '500px',
      buttons: {
          closer: true,
          sticker: false
      }
    });
  }

{% endblock %}