{% extends "layout.html" %}
{% load i18n %}
{% load staticfiles %}

{% block sidebar %}
    {% include "sidebar.html" %}
{% endblock %}

{% block navleft %}
    <li><h3><i class="fa fa-user"></i>&nbsp;{% trans "User Management" %}</h3></li>
{% endblock %}

{% block content %}
    <div class="row">
        <table class="table table-bordered table-striped table-hover table-heading table-datatable" id="datatable-user">
            <thead>
                <tr>
                    <th>{% trans "Username" %}</th>
                    <th>{% trans "Groups" %}</th>
                    <th>{% trans "Authentication Backend" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr id="{{ user.id }}">
                        <td>{{user.username}}
                            {% if user.is_administrator %}
                                <i class="fa fa-star"></i>
                            {% endif %}

                        </td>
                        <td>
                            {% for grp in user.groups %}
                                {{ grp }}
                            {% endfor %}
                        </td>
                        <td>{% if user.auth_backend %}
                                {{ user.auth_backend }}
                            {% else %}
                                {% trans "Vulture Internal Database" %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor  %}
            </tbody>
        </table>
        <br />
        <span><i class="fa fa-star"></i> : {% trans "Administrator" %}</span> <br />
        <div class="add-group">
            <a class="addlink addplus" href="./edit/" type="button">{% trans "Add an Entry" %}</a>
        </div>
    </div>


{% endblock %}

{% block css_include %}
    <link href="{% static 'css/daterangepicker-bs3.css' %}" rel="stylesheet">
    <link href="{% static 'css/daterangepicker-vulture.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}

{% block js_include %}
    <script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
{% endblock %}

{% block jquery_code  %}
    $('#datatable-user').DataTable({
        "dom": "<p<'searchbox'f><t>>",
        "autoWidth": false,
        "language": {
            "search": "",
            "lengthMenu": '_MENU_',
            "pagingType": "bootstrap",
            "paginate": {
                "next": '<img src="{% static 'img/right.png' %}"/>',
                "previous": '<img src="{% static 'img/left.png' %}"/>'
            }
        },
        fnCreatedRow: function(nRow, aData){
            $(nRow).on('click', function(){
                var id = $(nRow).attr('id');
                if (id)
                    location.href = "/system/users/edit/"+id;
            })
        }
    });
{% endblock %}